SECRET_KEY=any-long-random-string-you-make-up
DEBUG=True
HOST=127.0.0.1
PORT=8000

EMAIL_HOST_USER=someshkumarkv8998@gmail.com
EMAIL_HOST_PASSWORD=rmhjwulwqmnnhyjc
CONTACT_RECEIVER_EMAIL=someshkumarkv8998@gmail.com